@use "../styles/mixins";

.section {
  @include mixins.container;
  @include mixins.section;
}

.heading {
  margin: 0 0 var(--space-5);
}

.grid {
  @include mixins.grid-auto(15rem);

  list-style: none;
  padding: 0;
}
